@using System.Threading
@using MyMVCApp.DAL
@using MyMVCApp.Model

@{
    ViewBag.Title = Model.Hillname + " " + String.Format("{0}", Model.Feet) + "ft";
}

@section ViewSpecificHead
{
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
}

<div class="spacerdiv"></div>
<div class="walksbydate">
    <table class="datatable">
        <tr>
            <td colspan="2" class="heading2">@Model.Hillname</td>

            <td class="heading2"></td>
            <td class="column4 heading3">@Html.Encode(String.Format("{0}", Model.Feet)) ft, @Html.Encode(String.Format("{0}", Model.Metres)) m</td>
        </tr>
        <tr>
            <td class="column1">First ascent:</td>
            <td class="column2">@Model.FirstClimbedDate</td>
            <td class="column3">Number of ascents: </td>
            <td class="column4">@Model.NumberOfAscents</td>
        </tr>
        <tr>
            <td class="column1">Grid reference:</td>
            <td class="column2">@Model.Gridref10</td>
            <td class="column3">Section:</td>
            <td class="column4">@Model._Section</td>
        </tr>
        <tr>
            <td class="column1">Feature:</td>
            <td class="column2">@Model.Feature</td>
            <td class="column3">Drop:</td>
            <td class="column4">@Model.Drop</td>
        </tr>
        <tr>
            <td class="column1">Classes:</td>
            <td class="column2">@Model.Classification</td>
            <td class="column3">EPSG:27000 coords:</td>
            <td class="column4">@Model.Xcoord , @Model.Ycoord</td>
        </tr>
    </table>
</div>
@if (ViewData["ShowMap"].Equals(1))
{
    <div class="spacerdiv"></div>
    <div id="hillmap"></div>
    <div class="spacerdiv"></div>
}
else
{
    <div class="spacerdiv"></div>
}

<div class="walksbydate">
    <table class="datatable">
        @{
            int iAscentCounter = 1;

            var oAscents = (List<HillAscent>)ViewData["HillAscents"];

            <tr>
                <td colspan="4" class="heading2">Ascents</td>
            </tr>

            foreach (HillAscent oAscent in oAscents)
            {

                <tr>
                    <td>@iAscentCounter.ToString(Thread.CurrentThread.CurrentCulture)</td>
                    <td>@Html.Encode(String.Format("{0:D}", oAscent.AscentDate))</td>
                    <td><a href="~/Walks/Details/@oAscent.Walk.WalkID">@oAscent.Walk.WalkTitle</a></td>
                    <td><a href="~/Walks/Details/@oAscent.Walk.WalkID">@oAscent.Walk.WalkSummary</a></td>
                </tr>
                iAscentCounter = iAscentCounter + 1;
            }

            if (iAscentCounter == 1)
            {
                <tr>
                    <td colspan="4">No Ascents</td>
                </tr>
            }
        }

    </table>
</div>

<script>

    var firstClimbedDate = toInternationaDate("@Model.FirstClimbedDate");  // convert from british date format to standard js format
    var dateOptions = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

    // Initialize the lealfet map.
    const map = L.map('hillmap', mapOptions);

    // This function will call the specific "get all" function in LeafletHelper to add all hills to the map
    function getAll_Click() {
        getAllHillsInMapBounds();
    }

    // Add the "get all" icon to the map
    L.Control.Button = L.Control.extend({
        options: {
            position: 'topleft'
        },
        onAdd: function (map) {
            var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
            var button = L.DomUtil.create('a', 'leaflet-control-button', container);
            button.innerHTML = '<img class="customClass" src="/Content/images/all-icon.png">'
            L.DomEvent.disableClickPropagation(button);
            L.DomEvent.on(button, 'click', getAll_Click);

            container.title = "Get all";

            return container;
        },
        onRemove: function (map) { },
    });
    var control = new L.Control.Button()
    control.addTo(map);

     //---Add hill as a marker on the map-----------
    if (firstClimbedDate != null && firstClimbedDate != "" && firstClimbedDate != "Invalid Date") {

        const hill_marker = L.marker(transformCoords([@Model.Xcoord, @Model.Ycoord]), climbedmapmarkeroptions)
            .bindPopup("<b>@Model.Hillname" + ", @Model.Metres" + "m</b><br>First climbed: " + firstClimbedDate.toLocaleDateString("en-GB", dateOptions))
            .openPopup()
            .addTo(map); //Add hill marker to map, converting coords to WGS84
    } else {

        const hill_marker = L.marker(transformCoords([@Model.Xcoord, @Model.Ycoord]), unclimbedmapmarkeroptions)
            .bindPopup("<b>@Model.Hillname" + ", @Model.Metres" +"m</b><br>Not yet climbed")
            .openPopup()
            .addTo(map) //Add hill marker to map, converting coords to WGS84
    }

    map.setView(new L.LatLng(@Model.Latitude, @Model.Longitude));

    // Finally load and display ZXY tile layer on the map.
    const basemap = L.tileLayer('https://api.os.uk/maps/raster/v1/zxy/Leisure_27700/{z}/{x}/{y}.png?key=' + OSapiKey).addTo(map);

</script>


