@{ ViewBag.Title = "Walking MVC Application - Home";}
<div class="spacerdiv"></div>
<table class="walksbydate">
<tr>
    <td class="aligntop">
        <h3>Marylyns</h3>
        <p>@Html.ActionLink("Marylyn Areas in England", "WalkingAreasByCountry", new { strCountryCode = "EN", strAreaType = "M" })</p>
        <p>@Html.ActionLink("Marylyn Areas in Scotland", "WalkingAreasByCountry", new { strCountryCode = "SC", strAreaType = "M" })</p>
        <p>@Html.ActionLink("Marylyn Areas in Ireland", "WalkingAreasByCountry", new { strCountryCode = "IR", strAreaType = "M" })</p>
        <p>@Html.ActionLink("Marylyn Areas in Wales", "WalkingAreasByCountry", new { strCountryCode = "WA", strAreaType = "M" })</p>
        <p>@Html.ActionLink("Marylyn Areas on the Isle of Man", "WalkingAreasByCountry", new { strCountryCode = "IM", strAreaType = "M" })</p>
        <p>&nbsp;</p>

        <h3>Nuttals</h3>
        <p>@Html.ActionLink("Nuttall Areas in England", "WalkingAreasByCountry", new { strCountryCode = "EN", strAreaType = "N" })</p>
        <p>@Html.ActionLink("Nuttall Areas in Wales", "WalkingAreasByCountry", new { strCountryCode = "WA", strAreaType = "N" })</p>
        <p>&nbsp;</p>

        <h3>Walks</h3>
        <p>@Html.ActionLink("Browse Walks", "WalksByDate", new { OrderBy = "DateAsc" })</p>
        <p>@Html.ActionLink("Progress", "Index", "Progress")</p>

        <h3>Southern Uplands</h3>
        <p>@Html.ActionLink("Southern Uplands", "WalkingAreasByCountry", new { strCountryCode = "SC", strAreaType = "D" })</p>
        <p>&nbsp;</p>
    </td>
    <td class="aligntop">
        <h3>Wainwright Areas</h3>
        <p>@Html.ActionLink("Central Fells", "HillsByArea", "Walks", new { id = "NE04" }, null)</p>
        <p>@Html.ActionLink("Eastern Fells", "HillsByArea", "Walks", new { id = "NE06" }, null)</p>
        <p>@Html.ActionLink("Far Eastern Fells", "HillsByArea", "Walks", new { id = "NE07" }, null)</p>
        <p>@Html.ActionLink("Southern Fells", "HillsByArea", "Walks", new { id = "NE05" }, null)</p>
        <p>@Html.ActionLink("Western Fells", "HillsByArea", "Walks", new { id = "NE03" }, null)</p>
        <p>@Html.ActionLink("North Western Fells", "HillsByArea", "Walks", new { id = "NE02" }, null)</p>
        <p>@Html.ActionLink("Northern Fells", "HillsByArea", "Walks", new { id = "NE01" }, null)</p>
        <p>&nbsp;</p>

        <h3>Hewitts</h3>
        <p>@Html.ActionLink("Nuttall Areas in England", "WalkingAreasByCountry", new { strCountryCode = "EN", strAreaType = "H" })</p>
        <p>@Html.ActionLink("Nuttall Areas in Wales", "WalkingAreasByCountry", new { strCountryCode = "WA", strAreaType = "H" })</p>
        <p>&nbsp;</p>

        <h3>Administrative Areas</h3>
        <p>@Html.ActionLink("Administrative Areas in England", "WalkingAreasByCountry", new { strCountryCode = "EN", strAreaType = "A" })</p>
        <p>@Html.ActionLink("Administrative in Wales", "WalkingAreasByCountry", new { strCountryCode = "WA", strAreaType = "A" })</p>
        <p>@Html.ActionLink("Administrative in Scotland", "WalkingAreasByCountry", new { strCountryCode = "SC", strAreaType = "A" })</p>
        <p>&nbsp;</p>

 

  
    </td>
    <td class="aligntop">
        <h3>Munros Areas</h3>
        <p>@Html.ActionLink("The Marylyn Areas of Scotland", "WalkingAreasByCountry", new { strCountryCode = "SC", strAreaType = "M" })</p>
        <p>&nbsp;</p>

        <h3>County Tops</h3>
        <p>@Html.ActionLink("County tops in England", "WalkingAreasByCountry", new { strCountryCode = "EN", strAreaType = "C" })</p>
        <p>@Html.ActionLink("County tops in Wales", "WalkingAreasByCountry", new { strCountryCode = "WA", strAreaType = "C" })</p>
        <p>@Html.ActionLink("County tops in Scotland", "WalkingAreasByCountry", new { strCountryCode = "SC", strAreaType = "C" })</p>
        <p>&nbsp;</p>

        <h3>Islands</h3>
        <p>@Html.ActionLink("Islands of England", "WalkingAreasByCountry", new { strCountryCode = "EN", strAreaType = "I" })</p>
        <p>@Html.ActionLink("Islands of  Wales", "WalkingAreasByCountry", new { strCountryCode = "WA", strAreaType = "I" })</p>
        <p>@Html.ActionLink("Islands of Scotland", "WalkingAreasByCountry", new { strCountryCode = "SC", strAreaType = "I" })</p>
        <p>@Html.ActionLink("Islands of Isle of Man", "WalkingAreasByCountry", new { strCountryCode = "IM", strAreaType = "I" })</p>
    </td>
</tr>
</table>
